  
  .card{
    box-shadow: 20px; 
    width: 18rem; 
    max-height: 360px;
  }
  .card-body{ 
    /* wi; */

  } 
  .card-title{ 
    width: fit-content;

  }
  
  .delivery{
    font-size: 1.0rem;    /* color: red; */
    font-weight: 700;
}
.price{
    font-size: 1.1rem;
}
.location{
    font-size: 1rem;
    color: gray;
}
.main-image{ 
    
    height: 120px; 
    object-fit: fill;
    &:hover{
        padding: 5px;
    }
}
.card-button{
    background-color:burlywood;
    &:hover{
        background-color: aliceblue;
    }
}
/* .modal-backdrop {
    display: none;
} */
.review-side{
    height: 200px;
}
.rate-heading{
    /* padding-left: 30px; */
    height: 90px;
}
.filter{
    border: none;
}
.rating{
    width: fit-content; 
    /* background-color: cadetblue; */
    /* font-size: 1.1rem; */
}