.heading{
    font-size:1.0rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    word-spacing: 0.1rem;
    margin-bottom: 20px;
}
.Foodie{
    font-size: 2.0rem;
    font-weight: 800;
}
.content{
    font-size:1.0rem;
    font-weight: 200;
}
.icon{
    color: black;
    font-size: 1.5rem;
    padding: 1px;
    width: fit-content;
}
